@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 34, 193, 195; /* Example primary color */
  --ui-base: 248, 248, 248; /* Light background color */
  --ui-secondary: 200, 200, 200;
  --text-color: 33, 33, 33;
  --text-muted: 112, 112, 112;
  --border-color: 200, 200, 200;
}

.dark {
  --primary: 12, 44, 60; /* Dark primary color */
  --ui-base: 30, 30, 30;  /* Dark background */
  --text-color: 255, 255, 255;
  --border-color: 100, 100, 100;
}
